<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tongfu.mytestapp">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".signature.SignatureActivity"></activity>
        <activity android:name=".mediastore.MediaStoreActivity" />
        <activity android:name=".saf.SAFActivity" />
        <activity android:name=".UriActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="mytestapp"
                    android:scheme="rtf" />
            </intent-filter>
        </activity>
        <activity android:name=".rxjava.RxJavaActivity" />
        <activity android:name=".ndk.performance.NdkPerformanceCompareActivity" />
        <activity android:name=".transition.AnimateLinearLayoutChangeActivity" />
        <activity android:name=".transition.TransitionMenuActivity" />
        <activity android:name=".architecture.navigation.NavigationTwoActivity" />
        <activity android:name=".architecture.navigation.NavigationActivity" />
        <activity android:name=".advertise.AdvertiseActivity" />
        <activity android:name=".architecture.workmanager.WorkManagerActivity" />
        <activity android:name=".database.sqldelight.SqlDelightActivity" />
        <activity android:name=".architecture.viewmodel.ViewModelActivity" />
        <activity android:name=".architecture.paging.PagingActivity" />
        <activity android:name=".architecture.lifecycle.LifecycleActivity" />
        <activity android:name=".architecture.ArchitectureActivity" />
        <activity android:name=".eventdispatch.EventDispatchTestActivity" />
        <activity android:name=".systeminfo.SystemInfoActivity" />
        <activity android:name=".bigimage.BigImageActivity" />
        <activity android:name=".transition.TransitionActivity" />
        <activity android:name=".chart.MPAndroidChartActivity" />
        <activity android:name=".shell.ShellActivity" />
        <activity android:name=".multidialog.MultiDialogActivity" />
        <activity android:name=".topactivity.BottomActivity" />
        <activity
            android:name=".topactivity.TopActivity"
            android:taskAffinity="sdfs.fsdf" />
        <activity android:name=".topactivity.TopMenuActivity" />
        <activity android:name=".managerservice.LocationManagerActivity" />
        <activity android:name=".statusbar.StatusBarActivity" />
        <activity android:name=".hook.HookMenuActivity" />
        <activity android:name=".hotupdate.classloader.HotUpdateClassLoaderActivity" />
        <activity android:name=".hotupdate.HotUpdateMenuActivity" />
        <activity android:name=".database.dbsqliteopenhelper.SQLiteOpenHelperActivity" />
        <activity android:name=".database.greendao.GreenDaoActivity" />
        <activity android:name=".database.sqlbrite.SqlBriteActivity" />
        <activity android:name=".database.room.RoomActivity" />
        <activity android:name=".database.ormlite.OrmLiteActivity" />
        <activity android:name=".network.retrofit.RetrofitActivity" />
        <activity android:name=".network.okhttp.OKHttpActivity" />
        <activity android:name=".network.volley.VolleyActivity" />
        <activity android:name=".network.httpclient.HttpClientActivity" />
        <activity android:name=".network.httpurlconnection.HttpUrlConnectionActivity" />
        <activity android:name=".dagger2.advanceduse2.AdvancedUseActivity2" />
        <activity android:name=".dagger2.advanceduse1.AdvancedUseActivity1" />
        <activity android:name=".dagger2.baseuse.DaggerBaseUseActivity" />
        <activity android:name=".databinding.DataBindingActivity" />
        <activity android:name=".dagger2.Dagger2TestActivity" />
        <activity android:name=".uiwidget.preferenceactivity.PreferenceFragmentTestActivity" />
        <activity android:name=".ndk.nativeactivity.MyNativeActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="mynativeactivity" />
        </activity>
        <activity android:name=".ndk.jnicallback.JniCallbackActivity" />
        <activity android:name=".ndk.hellogl2.HelloGL2Activity" />
        <activity android:name=".ndk.HelloJniActivity" />
        <activity android:name=".ndk.NdkMenuActivity" />
        <activity
            android:name=".lifecycle.activity.ActivityLifecycleDialogActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity android:name=".lifecycle.fragment.FragmentLifecycleActivity" />
        <activity android:name=".uiwidget.surfaceview.SurfaceViewActivity" />
        <activity android:name=".uiwidget.UIWidgetMenuActivity" />
        <activity android:name=".uiwidget.UIWidgetActivity" />
        <activity android:name=".animation.frameanimation.FrameAnimationActivity" />
        <activity android:name=".animation.propertyanimation.PropertyAnimationActivity" />
        <activity android:name=".animation.valueanimation.ValueAnimationActivity" />
        <activity android:name=".animation.tweenanimation.TweenAnimationActivity" />
        <activity android:name=".sampleactivity.SampleMenuActivity" />
        <activity
            android:name=".sampleactivity.SampleTabActivity"
            android:label="@string/title_activity_sample_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".sampleactivity.SampleScrollingActivity"
            android:label="@string/title_activity_sample_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".sampleactivity.SampleNavigationDrawerActivity"
            android:label="@string/title_activity_sample_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".sampleactivity.SampleItemListActivity"
            android:label="@string/title_sampleitem_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".sampleactivity.SampleItemDetailActivity"
            android:label="@string/title_sampleitem_detail"
            android:parentActivityName=".sampleactivity.SampleItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tongfu.mytestapp.sampleactivity.SampleItemListActivity" />
        </activity>
        <activity
            android:name=".sampleactivity.ui.login.SampleLoginActivity"
            android:label="@string/title_activity_sample_login" />
        <activity
            android:name=".sampleactivity.SampleFullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_sample_fullscreen"
            android:theme="@style/FullscreenTheme" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <activity android:name=".sampleactivity.SampleViewModelActivity" />
        <activity android:name=".sampleactivity.SampleEmptyActivity" />
        <activity
            android:name=".sampleactivity.SampleBottomNavigationActivity"
            android:label="@string/title_activity_sample_botton_navigation" />
        <activity
            android:name=".sampleactivity.SampleBasicActivity"
            android:label="@string/title_activity_sample_basic"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".lifecycle.activity.ActivityLifecycleTestActivity2" />
        <activity android:name=".lifecycle.LifecycleActivity" />
        <activity android:name=".lifecycle.activity.ActivityLifecycleTestActivity" />
        <activity android:name=".memory.MemoryCheckActivity" />
        <activity android:name=".smoothexit.SwipeBackLayoutActivity" />
        <activity android:name=".smoothexit.SmoothExitMenuActivity" />
        <activity android:name=".permission.PermissionActivity" />
        <activity android:name=".eventbus.EventBusActivity" />
        <activity android:name=".managerservice.ManagerServiceActivity" />
        <activity
            android:name=".multiprocess.MultiProcessActivity"
            android:process=":child" />
        <activity android:name=".swiperefresh.SwipeRefreshActivity" />
        <activity android:name=".recyclerview.RecyclerViewActivity" />
        <activity android:name=".crashrecord.CrashRecordActivity" />
        <activity android:name=".animation.shareelement.ShareElementActivity2" />
        <activity android:name=".animation.shareelement.ShareElementActivity1" />
        <activity android:name=".animation.AnimationEntryActivity" />
        <activity android:name=".imageload.PicassoActivity" />
        <activity android:name=".imageload.ImageLoadEntryActivity" />
        <activity
            android:name=".smoothexit.SmoothExitActivity"
            android:theme="@style/tran" />
        <activity
            android:name=".video.VideoPlayEntryActivity"
            android:configChanges="orientation" />
        <activity android:name=".video.VideoPlayActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            </intent-filter>
        </activity>
        <activity android:name=".customview.ontouchevent1.OnTouchEventTestActivity" />
        <activity android:name=".contentprovider.ContentProviderActivity" />
        <activity android:name=".service.MusicPlayActivity" />
        <activity android:name=".broadcastreceiver.BroadcastReceiverActivity" />
        <activity android:name=".network.NetworkActivity" />
        <activity android:name=".database.DatabaseMenuActivity" />
        <activity android:name=".nonification.NotificationActivity" />
        <activity android:name=".layout.LayoutActivity" />
        <activity android:name=".menu.MenuActiivty" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3052609858986892~6336764053" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <provider
            android:name=".contentprovider.MyProvider"
            android:authorities="com.tongfu.mytestapp" />

        <receiver android:name=".widget.MyTestWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/my_test_widget_info" />
        </receiver>
        <receiver
            android:name=".broadcastreceiver.MyStaticReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".widget.CalendarService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".service.MusicPlayService"
            android:enabled="true"
            android:exported="true"
            android:process=":music_play_service" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

</manifest>